# Testing Code for the Answer Model

imports

In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import spacy

Getting the Data/Cleaning:

In [2]:
Answer_File = '../Data/Question_Answer_Dataset_v1.2/S10/question_answer_pairs.txt'

In [3]:
with open(Answer_File,'r',encoding="ISO-8859-1") as f:
    Questions = f.read().split('\n')

In [4]:
Data = {key:[] for key in Questions[0].split('\t')}

In [5]:
keys = list(Data.keys())

In [6]:
for row in range(1,len(Questions)):
    data_point = Questions[row].split('\t')
    if len(data_point)>1:
        for i in range(len(data_point)):
            Data[keys[i]].append(data_point[i])

In [7]:
df = pd.DataFrame(Data)

In [8]:
df.head()

,ArticleTitle,Question,Answer,DifficultyFromQuestioner,DifficultyFromAnswerer,ArticleFile
0,Alessandro_Volta,Was Alessandro Volta a professor of chemistry?,Alessandro Volta was not a professor of chemis...,easy,easy,data/set4/a10
1,Alessandro_Volta,Was Alessandro Volta a professor of chemistry?,No,easy,hard,data/set4/a10
2,Alessandro_Volta,Did Alessandro Volta invent the remotely opera...,Alessandro Volta did invent the remotely opera...,easy,easy,data/set4/a10
3,Alessandro_Volta,Did Alessandro Volta invent the remotely opera...,Yes,easy,easy,data/set4/a10
4,Alessandro_Volta,Was Alessandro Volta taught in public schools?,Volta was taught in public schools.,easy,easy,data/set4/a10

In [9]:
import os 
os.getcwd()

'/Users/Denny/Desktop/Natural Language Processing/Question_Answer_Model/Main/Answering_Model'

## Parsing a text file input

In [10]:
with open('../Data/Question_Answer_Dataset_v1.2/'+'S10/'+df['ArticleFile'][0]+'.txt','r') as g:
    text = g.read()

In [11]:
nlp = spacy.load('en_core_web_sm')

In [13]:
Article = nlp(text)

In [20]:
def is_token_allowed(token):
    '''
        Only allow valid tokens which are not stop words
        and punctuation symbols.
    '''
    if (not token or not str(token).strip() or token.is_stop or token.is_punct):
        return False
    return True

def preprocess_token(token):
    # Reduce token to its lowercase lemma form
    return token.lemma_.strip().lower()

complete_filtered_tokens = [preprocess_token(token)
    for token in Article if is_token_allowed(token)]

We can now do this for every single input and use these tokens as inputs to our model